<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>My Personal Blog</title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/blog.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">

			<div class="row">
				<div class="col-md-6 col-md-offset-3 jumbotron" id="my_name">
					<div class="text-center">
						<h2>Welcome to my Blog!</h2>
						<h4>My name is Dhika Ayu Agustin Cahyani</h4>
						<p>Here you can find little story about me.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div id="posts" class="col-md-6 col-md-offset-3">
					<h3>This is my first post</h3>
					<p>Middterm exam is starting in 4 days.
					I can't deny that I am panicking. 
					I am hungry.
					</p>
				</div>
			</div>

			<div class="row">
				<div id="posts2" class="col-md-6 col-md-offset-3">
					<h3>This is my second post</h3>
					<p>
					Boom, this is my second post.
					</p>
				</div>
			</div>
		</div>
		
	</body>
</html>
